.main-container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
}


/* Top box */


.top {
    margin: 10px 0;
    height: 500px;
    background-color: #070F2B;
    border-radius: 10px;
}

.top img {
    float: left;
    height: 500px;
    width: 50%;
}

.top #title {
    border-radius: 5px;
    position: absolute;
    width: auto;
    top: 20%;
    left: 60%;
    color: white;
    font-size: 50px;
}


/* profile-box */

.profile {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #070F2B;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.profile-img {
    width: 220px;
    height: 220px;
}


/* middle-box */
.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 400px;
    border-radius: 10px;
    background-color: #070F2B;
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.first .second .third {
    display: block;
    height: 250px;
    margin-top: 10px;

}

.middle-img {
    display: float;
    float: left;
    width: 130px;
    height: 130px;
    padding: 10px;
}


/* footer-box */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    margin-top: 10px;
    background-color: #070F2B;

    color: white;

}

.footer-button {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: auto;
}

.footer-button :hover {
    background-color: rgb(62, 203, 246);

}

.b-1,
.b-2,
.b-3 {
    height: 40px;
    width: 100px;
    padding: 10px;
    margin: 10px 20px;
    border-radius: 5px;
    border: none;

}